@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");

@font-face {
  font-family: Graphik;
  src: url("./fonts/GraphikRegular.otf");
}
body {
  margin: 0;
  /* font-family: "Graphik"; */
  font-family: "Ubuntu", sans-serif;
}
input {
  letter-spacing: 0.09em !important;
  font-weight: 500;
  color: rgb(71, 66, 66);
}

* {
  font-family: "Ubuntu" !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
